@font-face {
    font-family: 'Akkurat LL';
    src: url('AkkuratLL-Bold.woff2') format('woff2'),
        url('AkkuratLL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat LL';
    src: url('AkkuratLL-Black.woff2') format('woff2'),
        url('AkkuratLL-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat LL';
    src: url('AkkuratLL-BlackItalic.woff2') format('woff2'),
        url('AkkuratLL-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat LL';
    src: url('AkkuratLL-Thin.woff2') format('woff2'),
        url('AkkuratLL-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat LL';
    src: url('AkkuratLL-Italic.woff2') format('woff2'),
        url('AkkuratLL-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat LL';
    src: url('AkkuratLL-Regular.woff2') format('woff2'),
        url('AkkuratLL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat LL';
    src: url('AkkuratLL-BoldItalic.woff2') format('woff2'),
        url('AkkuratLL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat LL';
    src: url('AkkuratLL-LightItalic.woff2') format('woff2'),
        url('AkkuratLL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat LL';
    src: url('AkkuratLL-Light.woff2') format('woff2'),
        url('AkkuratLL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat LL';
    src: url('AkkuratLL-ThinItalic.woff2') format('woff2'),
        url('AkkuratLL-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Regular.woff2') format('woff2'),
        url('SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Semibold.woff2') format('woff2'),
        url('SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Regular.woff2') format('woff2'),
        url('SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Medium.woff2') format('woff2'),
        url('SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

