.element{
  color: $gray-fir;

  .question {
    .w-full { display: flex; }
    .w-4\/12 { display: none; }
  }
  .answer{
    max-height: 0;
    transition: all 0.15s ease-out;
    overflow: hidden;
    opacity: 0;
  }

  &.active {
    color: $black;
    .question {
      .w-full { display: none; }
      .w-4\/12 { display: flex; }
    }
    .answer {
      padding-top: 40px;
      max-height: 1000px;
      transition: max-height 0.25s ease-in;
      opacity: 1;
    }
  }
}