.page-loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray-fiv;
  width: 100%;
  height: 100vh;
  z-index: 1050;  

  &#page-in {
    background: var(--global-bg);
    transform: translate3d(0, 100%, 0);
  }

  &#page-out {
    background: $gray-fiv;
    transform: translate3d(0, 100%, 0);
    
  }

}

#page-holder--logo {
  width: 100px;
  height: 100px;
  position: relative;
  &::before {
    content: '';
    position: absolute;    
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 99px;
    transform: skewX(-20deg); /* Standard syntax */
    background: black;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-fiv;
    animation: 2s logo-loader .5s infinite ease-in-out alternate;
    transform: rotate(180deg);
  }
}

@keyframes logo-loader {
  0% {
    height: 100px;
  }
  100% {
    height: 0;
  }
}