.wpcf7 {
  font-size: 1.25rem;
  font-weight: 400;

  p {
    position: relative;
    margin: 0 0 20px;
  }

  input,
  textarea,
  .select-box {
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding: 5px 0;
  }

  input,
  textarea {
    color: #000000;

    &::placeholder {
      color: #BDBDBD;
    }

    &.wpcf7-not-valid {}
    &:focus {
      outline: none;
      border: none;
    }
    &:focus~.focus-border {
      width: 100%;
      transition: 0.4s;
    }
  }

  input~.focus-border,
  textarea~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: 0.4s;
  }

  .select-box {
    margin: 0 0 20px;
    &::after {}
    
    select {
      position: relative;
      left: -5px;
      width: 100%;
      color: #BDBDBD;
      &:focus { outline: none; }
      
    }
  }

  button {
    font-weight: 900;
    transition: all 300ms ease-in-out;
    
    &:hover,
    &:focus {
      padding-left: 5px;
    }
  }
}