.container {
  display: flex;
  width: 100%;
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-none { display: none !important; }
.d-flex { display: flex !important; }
.flex-row { flex-direction: row !important;}
.flex-column { flex-direction: column !important; }
.justify-content-center { justify-content: center !important; }
.justify-content-between { justify-content: space-between !important; }
.justify-content-around { justify-content: space-around !important; }
.align-items-center { align-items: center !important; }

@include responsive(768px) {
  .flex-md-row {
    flex-direction: row !important;
  }
}