// Disable any cursor type
* {
  cursor: none !important;
}

// Set the base
#magicMouseCursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 9999;
  left: 0;
  top: 0;
  transition: transform 0.07s, width 0.3s, height 0.3s;
  pointer-events: none;


  /* Sizes */
  /* ----------------------------------------- */
    &.size-20 {
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
    }   
    &.size-40 {
      width: 40px;
      height: 40px;
      left: -10px;
      top: -10px;
    }
    &.size-120 {
      width: 120px;
      height: 120px;
      left: -50px;
      top: -50px;
    }
  /* ----------------------------------------- Sizes */
  
  &.is-anchor {
    mix-blend-mode: difference;
  }

  // &.has-text {
  //   mix-blend-mode: normal;
  // }

  &.slider-arrow::before {
    font-size: 40px;
    font-weight: normal;
  }

  &::before {
    // content: "Ver Projeto";
    content: attr(data-text);
    display: inline-block;
    vertical-align: middle;
    line-height: 120px;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    text-align: center;
    text-transform: uppercase;
    transition: none;
  }

}

// body #magicMouseCursor.cursor-square {
//   border-radius: 0;
// }

body.global-background-light-white #magicMouseCursor {
  
  border: 1px solid black;
  background-color: black;
  mix-blend-mode: normal;
  color: white;

  &.is-anchor {
    border: 1px solid white;
    background-color: white;
    mix-blend-mode: difference;
  }

  &.bg-white {
    border: 1px solid white;
    background-color: white;
    color: black;
  }
}

body.global-background-dark #magicMouseCursor {
  
  border: 1px solid white;
  background-color: white;
  mix-blend-mode: normal;
  color: white;

  &.is-anchor {
    // border: 1px solid black;
    // background-color: black;
    mix-blend-mode: difference;
  }

}


body .magic-hover {
  transition: all 0.2s;
}
