@import 'woo/woocommerce';
@import 'woo/woocommerce-layout';
@import 'variations-swatches';
@import 'select2';

// -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
// transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
// background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
// background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
// background-size: 0 2px;
// background-repeat: no-repeat;
// background-position: left 100%;
// padding-bottom: 6px;
// &:hover { background-size: 100% 2px; }

// &.\32xl\:text-5xl,
// &.\34k\:text-5xl {
//   background-size: 0 4px;
//   &:hover { background-size: 100% 4px; }
// }

// &.\32xl\:text-8xl  {
//   background-size: 0 6px;
//   &:hover { background-size: 100% 6px; }
// }

.hover-line {
  display: inline;
  text-decoration: none;
  // width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 2px), black 2px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
  &:hover { background-size: 100% 100%; }

  &__white {
    background-image: linear-gradient(transparent calc(100% - 2px), white 2px);
  }
}

@media (min-width: 640px) {
  .sm\:hover-line-2x { background-image: linear-gradient(transparent calc(100% - 2px), black 2px); }
  .sm\:hover-line-4x { background-image: linear-gradient(transparent calc(100% - 4px), black 4px); }
  .sm\:hover-line-6x { background-image: linear-gradient(transparent calc(100% - 6px), black 6px); }
}
@media (min-width: 768px) {
  .md\:hover-line-2x { background-image: linear-gradient(transparent calc(100% - 2px), black 2px); }
  .md\:hover-line-4x { background-image: linear-gradient(transparent calc(100% - 4px), black 4px); }
  .md\:hover-line-6x { background-image: linear-gradient(transparent calc(100% - 6px), black 6px); }
}
@media (min-width: 1024px) {}
@media (min-width: 1280px) {
  .xl\:hover-line-2x { background-image: linear-gradient(transparent calc(100% - 2px), black 2px); }
  .xl\:hover-line-4x { background-image: linear-gradient(transparent calc(100% - 4px), black 4px); }
  .xl\:hover-line-6x { background-image: linear-gradient(transparent calc(100% - 6px), black 6px); }
}
@media (min-width: 1536px) {
  .\32xl\:hover-line-2x { background-image: linear-gradient(transparent calc(100% - 2px), black 2px); }
  .\32xl\:hover-line-4x { background-image: linear-gradient(transparent calc(100% - 4px), black 4px); }
  .\32xl\:hover-line-6x { background-image: linear-gradient(transparent calc(100% - 6px), black 6px); }
}
@media (min-width: 1920px) {
  .\34k\:hover-line-2x { background-image: linear-gradient(transparent calc(100% - 2px), black 2px); }
  .\34k\:hover-line-4x { background-image: linear-gradient(transparent calc(100% - 4px), black 4px); }
  .\34k\:hover-line-6x { background-image: linear-gradient(transparent calc(100% - 6px), black 6px); }
}

// .underline {
//   display: inline;
//   text-decoration: none;
//   width: calc(100%);
//   background-image: linear-gradient(transparent calc(100% - 5px), black 5px);
//   background-repeat: no-repeat;
//   background-size: 0% 100%;
//   transition: background-size 1s;

//   &:hover {
//     background-size: 100% 100%;
//   }
// }

.ratio {
  position: relative;
  width: 100%;

  --bb-aspect-ratio: 100%;

  img {
    object-fit: cover;
  }

  &::before {
    display: block;
    padding-top: var(--bb-aspect-ratio);
    content: "";
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-auto {
    --bb-aspect-ratio: 100%;

    @media (min-width: 768px) {
      --bb-aspect-ratio: 46.5%;
    }
  }
}

/* 	slider products  */
/* ----------------------------------------- */
  .woocommerce-shop .slick-slider {

    // .slick-arrow {
    //   display: none !important;
    //   z-index: 15;
    // }

    &.has-arrows {
      .slick-arrow {
        display: block !important;
        width: auto;
        height: auto;
        z-index: 10;
  
        &::before { 
          font-family: $font-fir;
          color: $black;
          font-size: 2rem;
          font-weight: 300;
  
          @media (min-width: 576px) {
            font-size: 3rem;
          }
  
          @media (min-width: 768px) {
            font-size: 4rem;
          }
  
          @media (min-width: 1280px) {
            font-size: 5rem;
          }
  
          @media (min-width: 1536px) {
            font-size: 6rem;
          }
        }
  
        &.slick-next {
          right: 2rem;

          &::before {
            content: '→';
          }
        }
        &.slick-prev {
          left: 2rem;

          &::before {
            content: '←';
          }

        }
      }
    }

    &.slider-products {
      .counter {
        font-size: 1.25rem;
        line-height: 24px;
        letter-spacing: -0.045em;
        font-weight: 900;
        position: absolute;
        top: 0.875rem; left: 0.688rem;
      }

      &.counter-bottom {
        .counter {
          top: inherit;
          bottom: 0.875rem;
        }
      }
    }

    .product-item {
      .ratio {
        @extend .ratio-auto;
      }

      h3,
      .woocommerce-loop-product__title,
      .woocommerce-loop-category__title,
      p {
        padding: 0;
        color: $black;
        text-decoration: underline;
        font-size: 20px;
        letter-spacing: -0.045em;
        line-height: 120%;
      }

      p {
        max-width: 450px;
        text-decoration: none;
      }

      .add_to_cart_button,
      .more-details,
      .price { display: none; }
    }
  }
/* ----------------------------------------- 	slider products */

.related h2 {
  letter-spacing: -0.05em;
}

.accordion {
  &-item {
    max-width: 310px;
    
    &.is-open {
      .accordion-title {
        &::after {
          content: '-';
          transform: translateY(-50%) rotate(315deg);
        }
      }
      .accordion-content {
        padding-top: 11px;
        animation: slideIn .5s linear forwards;
      }
    }
  }

  &-title {
    transition: all 0.2s;

    &::after {
      content: '+';
      margin-left: 5px;
      transition: all 0.2s;
    }
  }

  &-content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    p {
      & + p {
        padding: 0 1rem 1rem;
      }
    }
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    height: 100%;
  }
}