/*!
 * Variation Swatches for WooCommerce
 *
 * Author: Emran Ahmed ( emran.bd.08@gmail.com )
 * Date: 12/13/2022, 5:26:42 PM
 * Released under the GPLv3 license.
 */
 .woo-variation-swatches.wvs-tooltip .radio-variable-item[data-wvstooltip] {
  position: relative;
}
.woo-variation-swatches.wvs-tooltip .radio-variable-item[data-wvstooltip]::before, .woo-variation-swatches.wvs-tooltip .radio-variable-item[data-wvstooltip]::after {
  left: 8px;
  bottom: 100%;
}
.woo-variation-swatches.wvs-tooltip .radio-variable-item .image-tooltip-wrapper {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 8px;
}
.woo-variation-swatches.wvs-tooltip.wvs-archive-align-center .wvs-archive-variation-wrapper .radio-variable-item[data-wvstooltip]::before, .woo-variation-swatches.wvs-tooltip.wvs-archive-align-center .wvs-archive-variation-wrapper .radio-variable-item[data-wvstooltip]::after {
  left: 50%;
}
.woo-variation-swatches.wvs-tooltip.wvs-archive-align-center .wvs-archive-variation-wrapper .radio-variable-item .image-tooltip-wrapper {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}
.woo-variation-swatches.wvs-tooltip.wvs-archive-align-right .wvs-archive-variation-wrapper .radio-variable-item[data-wvstooltip]::before, .woo-variation-swatches.wvs-tooltip.wvs-archive-align-right .wvs-archive-variation-wrapper .radio-variable-item[data-wvstooltip]::after {
  left: 100%;
}
.woo-variation-swatches.wvs-tooltip.wvs-archive-align-right .wvs-archive-variation-wrapper .radio-variable-item .image-tooltip-wrapper {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 100%;
}

[data-wvstooltip],
.wvs-has-image-tooltip {
  position: relative;
  cursor: pointer;
  outline: none;
}

[data-wvstooltip]:before,
[data-wvstooltip]:after,
.wvs-has-image-tooltip:before,
.wvs-has-image-tooltip:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: absolute;
  bottom: 130%;
  left: 50%;
  z-index: 999;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

[data-wvstooltip]:before,
.wvs-has-image-tooltip:before {
  margin-bottom: 5px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 7px;
  border-radius: 3px;
  background-color: var(--wvs-tooltip-background-color, #333333);
  color: var(--wvs-tooltip-text-color, #FFFFFF);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

[data-wvstooltip]:before {
  min-width: 100px;
  content: attr(data-wvstooltip) " " attr(data-wvstooltip-out-of-stock);
}

.wvs-has-image-tooltip:before {
  content: attr(data-title);
  background-image: var(--tooltip-background);
  background-repeat: no-repeat;
  width: var(--tooltip-width);
  height: calc(var(--tooltip-height) + 20px);
  background-size: contain;
  background-position: center top;
  padding: 0;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 12px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

[data-wvstooltip]:after,
.wvs-has-image-tooltip:after {
  margin-left: -5px;
  width: 0;
  border-top: 5px solid var(--wvs-tooltip-background-color, #333333);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-wvstooltip]:hover:before,
[data-wvstooltip]:hover:after,
.wvs-has-image-tooltip:hover:before,
.wvs-has-image-tooltip:hover:after {
  bottom: 120%;
  visibility: visible;
  opacity: 1;
}

.wvs-theme-sober .product form.cart .variations .variable,
.wvs-theme-sober-child .product form.cart .variations .variable {
  margin-bottom: 15px !important;
}
.wvs-theme-sober .product form.cart .variations .variable-options,
.wvs-theme-sober-child .product form.cart .variations .variable-options {
  border: 0 !important;
}
.wvs-theme-sober .product form.cart .variations .variable-options::after,
.wvs-theme-sober-child .product form.cart .variations .variable-options::after {
  display: none;
}
.wvs-theme-sober .product form.cart .variations .arrow,
.wvs-theme-sober-child .product form.cart .variations .arrow {
  display: none;
}
.wvs-theme-sober .product form.cart .variations .label,
.wvs-theme-sober-child .product form.cart .variations .label {
  display: block;
  text-align: right;
  margin-right: 10px;
}
.wvs-theme-sober .product form.cart .variations .value,
.wvs-theme-sober-child .product form.cart .variations .value {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
}
.wvs-theme-sober .product form.cart .variations select,
.wvs-theme-sober-child .product form.cart .variations select {
  border: 1px solid #E4E6EB !important;
  padding: 0.5em 1em !important;
  text-align: left !important;
  -moz-text-align-last: left !important;
       text-align-last: left !important;
  -webkit-appearance: menulist-button !important;
}
.wvs-theme-sober .product form.cart .radio-variable-item,
.wvs-theme-sober-child .product form.cart .radio-variable-item {
  margin: 5px;
  text-align: left;
}
.wvs-theme-sober .product form.cart .radio-variable-item:last-child,
.wvs-theme-sober-child .product form.cart .radio-variable-item:last-child {
  margin-right: 0;
}
.wvs-theme-sober .product form.cart .radio-variable-item label,
.wvs-theme-sober-child .product form.cart .radio-variable-item label {
  padding-left: 30px;
  margin: 0;
}
.wvs-theme-sober .product form.cart .radio-variable-item label::before,
.wvs-theme-sober-child .product form.cart .radio-variable-item label::before {
  top: 0;
  border-radius: 100%;
}
.wvs-theme-sober .product form.cart .radio-variable-item label::after,
.wvs-theme-sober-child .product form.cart .radio-variable-item label::after {
  top: 8px;
}

.wvs-theme-shophistic-lite.woocommerce #main .entry-summary .variations {
  display: block !important;
}
.wvs-theme-shophistic-lite .ql_custom_variations {
  display: none !important;
}
.wvs-theme-shophistic-lite .radio-variable-item input[type=radio] {
  display: inline-block;
  margin: 0;
}

.wvs-theme-flatsome .variations .reset_variations {
  position: relative;
  bottom: 0;
  left: 0;
}

.wvs-theme-storefront.single-product div.product,
.wvs-theme-storefront-child.single-product div.product {
  overflow: visible !important;
}

.wvs-theme-stockholm .variations .reset_variations {
  position: relative;
  bottom: 0;
  left: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.wvs-theme-kalium .image-variable-item img,
.wvs-theme-kalium-child .image-variable-item img {
  width: 100% !important;
}
.wvs-theme-kalium .radio-variable-item input,
.wvs-theme-kalium-child .radio-variable-item input {
  width: 16px !important;
  height: 16px !important;
}
.wvs-theme-kalium .woo-variation-items-wrapper .select-option-ui,
.wvs-theme-kalium-child .woo-variation-items-wrapper .select-option-ui {
  display: none;
}

.wvs-theme-aurum .variable-items-wrapper .image-variable-item > img,
.wvs-theme-aurum-child .variable-items-wrapper .image-variable-item > img {
  width: 100%;
}

.wvs-theme-hestia .woo-variation-items-wrapper.value::before {
  display: none !important;
}

.wvs-theme-thegem .woo-variation-items-wrapper .combobox-wrapper,
.wvs-theme-thegem-child .woo-variation-items-wrapper .combobox-wrapper,
.wvs-theme-thegem-elementor .woo-variation-items-wrapper .combobox-wrapper {
  display: none;
}
.wvs-theme-thegem .wvs-archive-variation-wrapper .variations,
.wvs-theme-thegem-child .wvs-archive-variation-wrapper .variations,
.wvs-theme-thegem-elementor .wvs-archive-variation-wrapper .variations {
  padding: 0;
}

.wvs-theme-ushop .variations_form,
.wvs-theme-ushop-child .variations_form {
  overflow: visible !important;
}
.wvs-theme-ushop .single-product-summary .product_meta,
.wvs-theme-ushop-child .single-product-summary .product_meta {
  display: inline-table;
}

.wvs-theme-savoy .woo-variation-items-wrapper,
.wvs-theme-savoy-child .woo-variation-items-wrapper {
  position: relative !important;
}
.wvs-theme-savoy .woo-variation-items-wrapper .sod_select,
.wvs-theme-savoy-child .woo-variation-items-wrapper .sod_select {
  display: none !important;
}
.wvs-theme-savoy .nm-variation-row,
.wvs-theme-savoy-child .nm-variation-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wvs-theme-woodstock .woo-variation-items-wrapper .variation-select,
.wvs-theme-woodstock-child .woo-variation-items-wrapper .variation-select {
  display: none !important;
}

.wvs-theme-woodmart .woo-variation-items-wrapper > .swatches-select,
.wvs-theme-woodmart-child .woo-variation-items-wrapper > .swatches-select {
  display: none;
}
.wvs-theme-woodmart .wd-attr-selected,
.wvs-theme-woodmart-child .wd-attr-selected {
  display: none;
}

.wvs-theme-gecko .variations .value.woo-variation-items-wrapper,
.wvs-theme-gecko-child .variations .value.woo-variation-items-wrapper {
  border: 0 !important;
}
.wvs-theme-gecko .variations .value.woo-variation-items-wrapper::after,
.wvs-theme-gecko-child .variations .value.woo-variation-items-wrapper::after {
  display: none !important;
}

.woo-variation-gallery-theme-massive-dynamic .woo-variation-items-wrapper .clear-selection,
.woo-variation-gallery-theme-massive-dynamic-child .woo-variation-items-wrapper .clear-selection {
  border: 0;
  height: auto;
  width: auto;
}
.woo-variation-gallery-theme-massive-dynamic .woo-variation-items-wrapper .clear-selection .reset_variations,
.woo-variation-gallery-theme-massive-dynamic-child .woo-variation-items-wrapper .clear-selection .reset_variations {
  font-size: 8px !important;
  width: 20px;
  height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100%;
  border: 1px solid #F04040;
  color: #F04040;
}

.wvs-theme-claue .woo-variation-items-wrapper,
.wvs-theme-claue-child .woo-variation-items-wrapper {
  border: none;
}
.wvs-theme-claue .woo-variation-items-wrapper::after,
.wvs-theme-claue-child .woo-variation-items-wrapper::after {
  display: none;
}

.wvs-theme-jupiter table.variations,
.wvs-theme-jupiter-child table.variations {
  overflow: initial;
}

.wvs-theme-oxygen .woo-variation-items-wrapper .select-wrapper,
.wvs-theme-oxygen-child .woo-variation-items-wrapper .select-wrapper {
  display: none;
}
.wvs-theme-oxygen .variable-items-wrapper.radio-variable-wrapper .radio-variable-item input,
.wvs-theme-oxygen-child .variable-items-wrapper.radio-variable-wrapper .radio-variable-item input {
  width: 18px;
}

.wvs-theme-simple-elegant .woo-variation-items-wrapper .wi-nice-select,
.wvs-theme-simple-elegant-child .woo-variation-items-wrapper .wi-nice-select {
  display: none;
}

.wvs-theme-twentytwenty table.variations,
.wvs-theme-twentytwenty-child table.variations {
  overflow: auto;
}

.wvs-theme-divi .et_pb_wc_add_to_cart form.variations_form.cart .variations td.value span:after,
.wvs-theme-divi-child .et_pb_wc_add_to_cart form.variations_form.cart .variations td.value span:after {
  display: none !important;
}

.wvs-theme-jevelin .sh-woo-layout table.variations td select.woo-variation-raw-select,
.wvs-theme-jevelin-child .sh-woo-layout table.variations td select.woo-variation-raw-select {
  display: none !important;
}
.wvs-theme-jevelin .sh-woo-layout table.variations,
.wvs-theme-jevelin-child .sh-woo-layout table.variations {
  max-width: 100%;
}
.wvs-theme-jevelin .radio-variable-item label,
.wvs-theme-jevelin-child .radio-variable-item label {
  line-height: 1 !important;
}

.wvs-theme-stockie .woo-variation-raw-select + .select-styled,
.wvs-theme-stockie-child .woo-variation-raw-select + .select-styled {
  display: none !important;
}

.woo-variation-swatches .woo-variation-raw-select + .select2 {
  display: none !important;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color > a {
  display: inline-block;
  position: relative;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color .count {
  padding: 0 5px;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color .wvs-widget-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color .item {
  display: inline-block;
  float: left;
  padding: 9px;
  margin: 0 4px;
  -webkit-box-shadow: var(--wvs-item-box-shadow, 0 0 0 1px #A8A8A8);
          box-shadow: var(--wvs-item-box-shadow, 0 0 0 1px #A8A8A8);
  border: 2px solid #fff;
  height: 20px;
  width: 20px;
  -webkit-transition: -webkit-box-shadow 200ms ease;
  transition: -webkit-box-shadow 200ms ease;
  -o-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color .item.style-squared {
  border-radius: 2px;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color .item.style-rounded {
  border-radius: 100%;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color .text {
  display: inline-block;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color .text :after {
  content: "";
  display: inline;
  clear: both;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color:hover .item {
  -webkit-box-shadow: var(--wvs-hover-item-box-shadow, 0 0 0 3px #dddddd);
          box-shadow: var(--wvs-hover-item-box-shadow, 0 0 0 3px #dddddd);
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color.woocommerce-widget-layered-nav-list__item--chosen .item {
  -webkit-box-shadow: var(--wvs-selected-item-box-shadow, 0 0 0 2px #000);
          box-shadow: var(--wvs-selected-item-box-shadow, 0 0 0 2px #000);
}
.woo-variation-swatches .woo-variation-raw-select {
  display: none !important;
}
.woo-variation-swatches .woo-variation-raw-select:before, .woo-variation-swatches .woo-variation-raw-select:after {
  display: none !important;
}
.woo-variation-swatches .variations td.value > span:before, .woo-variation-swatches .variations td.value > span:after {
  display: none !important;
}
.woo-variation-swatches .woo-variation-swatches-variable-item-more {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.woo-variation-swatches .wvs-archive-variations-wrapper {
  display: block;
  width: 100%;
}
.woo-variation-swatches .wvs-archive-variations-wrapper .variable-items-wrapper .variable-item:not(.radio-variable-item) {
  width: var(--wvs-archive-product-item-width, 30px);
  height: var(--wvs-archive-product-item-height, 30px);
}
.woo-variation-swatches .wvs-archive-variations-wrapper .variable-items-wrapper .variable-item:not(.radio-variable-item).button-variable-item {
  font-size: var(--wvs-archive-product-item-font-size, 16px);
  /*min-width: var(--wvs-archive-product-item-width, 30px);*/
}
.woo-variation-swatches .wvs-archive-variations-wrapper .variable-items-wrapper.wvs-style-squared.archive-variable-items .variable-item:not(.radio-variable-item).button-variable-item {
  min-width: var(--wvs-archive-product-item-width, 30px);
}
.woo-variation-swatches ul.variations {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.woo-variation-swatches ul.variations > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: var(--wvs-position);
      -ms-flex-pack: var(--wvs-position);
          justify-content: var(--wvs-position);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px 0;
}
.woo-variation-swatches ul.variations .wvs_archive_reset_variations.hide {
  visibility: hidden;
}
.woo-variation-swatches ul.variations .wvs_archive_reset_variations.show {
  visibility: visible;
}
.woo-variation-swatches .variable-items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /*margin: 0 5px;*/
  margin: 0;
  padding: 0;
  list-style: none;
}
.woo-variation-swatches .variable-items-wrapper.enabled-large-size .variable-item:not(.radio-variable-item) {
  width: var(--wvs-single-product-large-item-width, 40px);
  height: var(--wvs-single-product-large-item-height, 40px);
}
.woo-variation-swatches .variable-items-wrapper.enabled-large-size .variable-item:not(.radio-variable-item).button-variable-item {
  font-size: var(--wvs-single-product-large-item-font-size, 16px);
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  list-style: none;
  cursor: pointer;
  /*margin: 5px 0;*/
  padding: 0 5px;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item label, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item input {
  cursor: pointer;
  vertical-align: middle;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item input {
  margin: 5px;
  width: 20px;
  height: 20px;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item .variable-item-radio-value-wrapper {
  display: inline-block;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item .variable-item-radio-value-wrapper img {
  width: 40px;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item .variable-item-radio-value-wrapper .out-of-stock {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item label {
  width: auto;
  display: inline-block;
  padding: 2px 0;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled label, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled input, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled:hover label, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled:hover input {
  cursor: not-allowed;
  opacity: 0.5;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled .variable-item-radio-value, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled:hover .variable-item-radio-value {
  text-decoration: line-through;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled::before, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled::after, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled:hover::before, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled:hover::after {
  display: none;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled:focus, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.disabled:hover:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.no-stock label, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.no-stock input, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.no-stock:hover label, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.no-stock:hover input {
  text-decoration: line-through;
  opacity: 0.6;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.no-stock .variable-item-radio-value, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.no-stock:hover .variable-item-radio-value {
  text-decoration: line-through;
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item:hover {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}
.woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.selected, .woo-variation-swatches .variable-items-wrapper.radio-variable-items-wrapper .radio-variable-item.selected:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9);
}
.woo-variation-swatches .variable-items-wrapper .variable-item {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}
.woo-variation-swatches .variable-items-wrapper .variable-item .variable-item-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
@supports (display: contents) {
  .woo-variation-swatches .variable-items-wrapper .variable-item .variable-item-contents {
    /* display: contents;*/
  }
}
.woo-variation-swatches .variable-items-wrapper .variable-item.variation-disabled {
  display: none !important;
}
.woo-variation-swatches .variable-items-wrapper .variable-item img {
  margin: 0; /** Storefront FIX */
  padding: 0; /** ShopIsle Fix */
  width: 100%; /** TheGem Fix */
  height: 100%;
  pointer-events: none;
}
.woo-variation-swatches .variable-items-wrapper .variable-item > span {
  pointer-events: none;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--wvs-item-background-color, #FFFFFF);
  color: var(--wvs-item-text-color, #000000);
  border: 2px solid black;
  padding: 2px 10px;
  margin-right: 10px;
  width: var(--wvs-single-product-item-width, 30px);
  height: 40px;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):first-child {
  /*margin-left: 0;*/
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):last-child {
  margin-right: 0;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).no-stock img, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).no-stock span, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).no-stock .variable-item-contents {
  opacity: 0.6;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).no-stock .variable-item-contents::before {
  position: absolute;
  content: " ";
  display: block;
  background-image: var(--wvs-cross);
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):hover {
  background-color: #000000;
  color: #ffffff;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):focus {
  background-color: #000000;
  color: #ffffff;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, 
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
  background-color: #000000;
  color: #ffffff;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled:hover {
  pointer-events: none;
  cursor: not-allowed;
  position: relative;
  overflow: hidden;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled img, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled span, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled .variable-item-contents, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled:hover img, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled:hover span, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled:hover .variable-item-contents {
  opacity: 0.6;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled .variable-item-contents::before, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled:hover .variable-item-contents::before {
  position: absolute;
  content: " ";
  display: block;
  background-image: var(--wvs-cross);
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).color-variable-item.selected:not(.no-stock) .variable-item-contents::before, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).image-variable-item.selected:not(.no-stock) .variable-item-contents::before {
  position: absolute;
  content: " ";
  display: block;
  background-image: var(--wvs-tick);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  height: 100%;
  width: 100%;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).color-variable-item .variable-item-span-color, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).image-variable-item .variable-item-span-color {
  width: 100%;
  height: 100%;
  /*position: relative;*/
  display: block;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).button-variable-item {
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: -0.05em;

  &.selected:not(.no-stock) {
    background-color: #000000;
    color: #ffffff;
  }
}

.woo-variation-swatches .variable-items-wrapper .variable-item.wvs-show-stock-left-info:not(.disabled):not(.radio-variable-item) .wvs-stock-left-info::before {
  content: " ";
  position: absolute;
  top: calc(100% - 1px);
  left: 50%;
  margin-left: -3px;
  width: 0;
  border-bottom: 3px solid #de8604;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  z-index: 1;
}
.woo-variation-swatches .variable-items-wrapper .variable-item.wvs-show-stock-left-info:not(.disabled):not(.radio-variable-item) .wvs-stock-left-info::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(100% + 2px);
  min-width: 36px;
  text-align: center;
}
.woo-variation-swatches .variable-items-wrapper .variable-item.wvs-show-stock-left-info:not(.disabled) .wvs-stock-left-info::after {
  content: attr(data-wvs-stock-info);
  line-height: 1;
  font-size: 10px;
  font-style: italic;
  background: #de8604;
  color: #fff;
  padding: 2px;
  border-radius: 2px !important;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2509803922);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3803921569);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3803921569);
}
.woo-variation-swatches .variable-items-wrapper .variable-item.wvs-show-stock-left-info:not(.disabled).radio-variable-item .wvs-stock-left-info::after {
  margin-left: 5px;
}
.woo-variation-swatches .wvs-style-rounded.variable-items-wrapper .variable-item:not(.radio-variable-item) {
  border-radius: 100%;
}
.woo-variation-swatches .wvs-style-rounded.variable-items-wrapper .variable-item:not(.radio-variable-item) .variable-item-span, .woo-variation-swatches .wvs-style-rounded.variable-items-wrapper .variable-item:not(.radio-variable-item) img {
  border-radius: 100%;
  overflow: hidden;
  line-height: 1;
  margin: 0;
}
.woo-variation-swatches .wvs-style-rounded.variable-items-wrapper .variable-item.radio-variable-item {
  border-radius: 2px;
}
.woo-variation-swatches .wvs-style-rounded.variable-items-wrapper .variable-item.radio-variable-item img {
  border-radius: 100%;
}
.woo-variation-swatches .wvs-style-squared.variable-items-wrapper .variable-item:not(.radio-variable-item).button-variable-item {
  width: auto;
  min-width: 40px;
}
.woo-variation-swatches .wvs-style-squared.variable-items-wrapper .variable-item:not(.radio-variable-item).color-variable-item span::after {
  border-radius: 0;
}
.woo-variation-swatches .wvs-style-squared.variable-items-wrapper .variable-item.radio-variable-item {
  border-radius: 2px;
}
.woo-variation-swatches .wvs-style-squared.variable-items-wrapper .variable-item.radio-variable-item img {
  border-radius: 5px;
}
.woo-variation-swatches.wvs-behavior-blur .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled .variable-item-contents::before, .woo-variation-swatches.wvs-behavior-blur .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled:hover .variable-item-contents::before {
  /*background: none;*/
}
.woo-variation-swatches.wvs-behavior-blur .variable-items-wrapper .radio-variable-item.disabled label, .woo-variation-swatches.wvs-behavior-blur .variable-items-wrapper .radio-variable-item.disabled input, .woo-variation-swatches.wvs-behavior-blur .variable-items-wrapper .radio-variable-item.disabled:hover label, .woo-variation-swatches.wvs-behavior-blur .variable-items-wrapper .radio-variable-item.disabled:hover input {
  cursor: not-allowed;
  text-decoration: line-through;
  opacity: 0.5;
}
.woo-variation-swatches.wvs-behavior-blur .variable-items-wrapper .radio-variable-item.disabled::before, .woo-variation-swatches.wvs-behavior-blur .variable-items-wrapper .radio-variable-item.disabled::after, .woo-variation-swatches.wvs-behavior-blur .variable-items-wrapper .radio-variable-item.disabled:hover::before, .woo-variation-swatches.wvs-behavior-blur .variable-items-wrapper .radio-variable-item.disabled:hover::after {
  display: none;
}
.woo-variation-swatches.wvs-behavior-blur-no-cross .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled .variable-item-contents::before, .woo-variation-swatches.wvs-behavior-blur-no-cross .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled:hover .variable-item-contents::before, .woo-variation-swatches.wvs-behavior-blur-no-cross .variable-items-wrapper .variable-item:not(.radio-variable-item).no-stock .variable-item-contents::before, .woo-variation-swatches.wvs-behavior-blur-no-cross .variable-items-wrapper .variable-item:not(.radio-variable-item).no-stock:hover .variable-item-contents::before {
  background-image: none;
}
.woo-variation-swatches.wvs-behavior-blur-no-cross .variable-items-wrapper .radio-variable-item.disabled, .woo-variation-swatches.wvs-behavior-blur-no-cross .variable-items-wrapper .radio-variable-item.disabled:hover {
  overflow: hidden;
}
.woo-variation-swatches.wvs-behavior-blur-no-cross .variable-items-wrapper .radio-variable-item.disabled label, .woo-variation-swatches.wvs-behavior-blur-no-cross .variable-items-wrapper .radio-variable-item.disabled input, .woo-variation-swatches.wvs-behavior-blur-no-cross .variable-items-wrapper .radio-variable-item.disabled:hover label, .woo-variation-swatches.wvs-behavior-blur-no-cross .variable-items-wrapper .radio-variable-item.disabled:hover input {
  pointer-events: none;
  opacity: 0.3;
}
.woo-variation-swatches.wvs-behavior-hide .variable-items-wrapper .variable-item.disabled {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  font-size: 0;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  min-width: 0 !important;
  min-height: 0 !important;
}
.woo-variation-swatches.wvs-behavior-hide .variable-items-wrapper .variable-item.disabled.radio-variable-item {
  width: auto !important;
}
.woo-variation-swatches.wvs-behavior-hide .variable-items-wrapper .variable-item.no-stock .variable-item-contents::before {
  background-image: none;
}
.woo-variation-swatches.rtl table.variations td.label {
  /*padding-left: 15px;
  padding-right: 0;
  text-align: right;*/
}
.woo-variation-swatches.rtl .variable-items-wrapper .variable-item {
  text-align: right;
}
.woo-variation-swatches.rtl .variable-items-wrapper .variable-item:not(.radio-variable-item) {
  margin: 4px 0 4px 8px;
}
.woo-variation-swatches.rtl .variable-items-wrapper.radio-variable-wrapper .radio-variable-item input {
  margin-right: 0;
  margin-left: 5px;
}
.woo-variation-swatches.woocommerce .product.elementor table.variations td.value:before {
  display: none !important;
}
.woo-variation-swatches.woo-variation-swatches-ie11 .variable-items-wrapper {
  display: block !important;
}
.woo-variation-swatches.woo-variation-swatches-ie11 .variable-items-wrapper .variable-item:not(.radio-variable-item) {
  float: left;
}
.woo-variation-swatches.wvs-show-label .variations th, .woo-variation-swatches.wvs-show-label .variations td {
  display: block;
  width: auto !important;
}
.woo-variation-swatches.wvs-show-label .variations th label, .woo-variation-swatches.wvs-show-label .variations th .woo-selected-variation-item-name, .woo-variation-swatches.wvs-show-label .variations td label, .woo-variation-swatches.wvs-show-label .variations td .woo-selected-variation-item-name {
  display: inline-block;
  margin: 0 2px 5px 0;
}
.woo-variation-swatches .grouped-variable-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none !important;
}
.woo-variation-swatches .grouped-variable-items.grouped-variable-items-display-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.woo-variation-swatches .grouped-variable-items.grouped-variable-items-display-vertical .group-variable-items-wrapper {
  margin-top: 10px;
}
.woo-variation-swatches .grouped-variable-items.grouped-variable-items-display-vertical .no-group-variable-items-wrapper {
  margin-top: 20px;
}
.woo-variation-swatches .grouped-variable-items.grouped-variable-items-display-horizontal {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.woo-variation-swatches .grouped-variable-items.grouped-variable-items-display-horizontal .group-variable-items-wrapper {
  margin-top: 10px;
  margin-right: 20px;
}
.woo-variation-swatches .grouped-variable-items.grouped-variable-items-display-horizontal .group-variable-items-wrapper:last-child {
  margin-right: 0;
}
.woo-variation-swatches .grouped-variable-items.grouped-variable-items-display-horizontal .no-group-variable-items-wrapper {
  margin-right: 0;
}
.woo-variation-swatches .grouped-variable-items .group-variable-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.woo-variation-swatches .grouped-variable-items .group-variable-items-name {
  font-style: italic;
}