body.login {
  background-color: theme-color("primary");
  h1 {
    a {
      width: 200px !important;
      height: 50px !important;
      margin: 60px auto 5px;
    }
  }

  #loginform {
    background: rgba(255, 255, 255, 1);
    border: none;
    box-shadow: none;
    label {
      color: black;
    }
    #wp-submit {
      border: none;
      background: black !important;
      box-shadow: none;
      padding: 0 20px;
      text-shadow: none;
      text-transform: uppercase;
      border-radius: 0;
    }
  } // #loginform

  #nav, #backtoblog {
    color: #cccccc !important;
    text-align: center;
    padding-left: 0;
    a {
      color: #cccccc !important;
      text-decoration: none;
      text-shadow: none;
      &:hover {
        color: #cccccc !important;
        text-decoration: underline;
      }
    }
  }

  .button {
    &.button-primary {
      background-color: theme-color("primary");
    }
  }
}