// @import 'mixins';
// @import 'reset';
// @import 'grid';
@import 'variables';
@import 'components';
@import 'hamburguer';
@import 'aos';
@import 'magic-mouse';

// page contact
@import 'contact';
@import 'accordion';

// page shop
@import 'shop';

body {
  font-family: $font-fir;
  counter-reset: dots; 
  overflow-x: hidden;
}
#debug-theme-version {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: red;
  color: white;
  z-index: 9999;
  padding: 1px 6px;
}
/* Global Backgrounds */
/* ----------------------------------------- */
  body {
    &.global-background {

      &-light-white {
        --global-bg: white;
        --global-color: black;
        background: var(--global-bg) !important;
        color: var(--global-color);
      }

      &-dark {
        --global-bg: black;
        --global-color: white;
        background: var(--global-bg) !important;
        color: var(--global-color);
        
        .text-black { 
          color: white;
        }

        .logo-header {
          filter: invert(1) hue-rotate(180deg);
        }
        
        .bg-white { 
          background-color: black;
        }

        .element {
          color: $white;
          &.active { color: $white; }
        }

        .hover-line {
          background-image: linear-gradient(transparent calc(100% - 2px), white 2px);
        }
      }
    }

    &.woocommerce {
      .slick-slider {
        .slick-arrow {
          display: none !important;
          z-index: 15;
        }
      }
    }
  }
/* ----------------------------------------- Global Backgrounds */


/* header */
/* ----------------------------------------- */
  header,
  footer {
    ul {
      &.menu {
        li {
          a {
            font-size: 1rem;
            font-weight: 900;
            @extend .hover-line;
  
            @media (min-width: 576px) {
              font-size: 1.25rem;
            }
  
            @media (min-width: 768px) {
              font-size: 1rem;
            }
  
            @media (min-width: 1280px) {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
  footer {
    ul {
      &.menu {
        li {
          a { @extend .hover-line__white; }
        }
      }
    }
  }

  header {
    &#header {
      ul {
        &.menu {
          li {
            &:not(:first-child) { margin-left: 24px; }
          }
        }
      }
      .wpml-ls {
        padding: 0;
        ul {
          li {
            a {
              span {
                @extend .hover-line;
              }
            }
            &.wpml-ls-current-language a span {
              background-size: 100% 100%;
            }
          }
        }
      }
    }
  }

/* ----------------------------------------- header */

/* Navigations */
/* ----------------------------------------- */
  .nav-theme-anchor {
    li {
      a {
        transition: all 300ms ease-in-out;
        text-decoration: none;
      }
      &.current-cat a {
        color: inherit;
        &::before {
          content: '→ ';
        }
      }
      // &:hover {
      //   text-decoration: underline;
      // }
    }

    &-gray {
      a {
        color: #BDBDBD;
      }
    }

    &-clean {
      li {
        a::before { display: none; }
      }
    }
  }
/* ----------------------------------------- Navigations */


/* slideshow */
/* ----------------------------------------- */  
  .force-hidden {
    display: none !important;
  }
  .js-slideshow {
    counter-reset: pageTotal;

    .slick {
      &-slide {
        counter-increment: pageTotal;        
      }
    }

    // &__mediawrapper {
    //   height: calc(100vh - 50px);
    //   > * {
    //     width: 100%;
    //     height: 100%;
    //   }
    //   img, video {
    //     object-fit: cover;
    //     object-position: center;
    //     width: 100%;
    //     height: 100%;
    //   }  
    // }
    &__caption {
      // border: 2px solid green;
    }
  }
  .banner {
    outline: none;

    // &:hover .slick-arrow {
    //   opacity: 1;
    // }

    :focus-visible {
      outline: none;
    }

    .slick-arrow {
      width: 8%;
      height: 100%;
      // border: 1px solid red;
      z-index: 10;
      opacity: 1;
      transition: all 300ms ease-in-out;
      top: 10px !important;
      transform: none;
      &::before {
        display: none;
      }

      &.slick-next {
        right: 0;
      }
      &.slick-prev {
        left: 0;
      }
    }

    .slick-dots {
      width: 100%;
      max-width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: position 300ms ease-in-out;
      bottom: initial;
      top: 0;
      
      li {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        opacity: 0;
        transition: all 300ms ease-in-out;
        
        button {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0;

          &::before,
          &::after {
            position: relative;
            font-family: $font-fir;
            color: black;
            font-size: 18px;
            font-weight: 900;
            width: auto;
            height: 35px;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            opacity: 0;
            transition: all 300ms ease-in-out;
          }

          &::before {
            counter-increment: dots;
            content: counters(dots, "/", decimal-leading-zero) "/" counters(pageTotal, "/", decimal-leading-zero);               
          }
        }

        &.slick-active {
          opacity: 1;
          button {
            &::before,
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .video-container {
    video { width: 100%; }
  }
/* ----------------------------------------- slideshow */

/* content */
/* ----------------------------------------- */
  main#content {
    .essb_links_list {
      display: flex !important;
      gap: 15px !important;
      word-wrap: inherit !important;
      clear: none;
      margin: 0;

      li {
        &:not(:first-child) {
          margin-left: 15px;
        }
        a {
          @extend .hover-line;
          margin: 0;
          transition: all 150ms ease-in-out;
          
          span {
            position: relative;
            font-size: 1.25rem;
            line-height: 1.75rem;
            color: $black;
            transition: all 300ms ease-in-out;
            margin: 0;

            // &::after {
            //   position: absolute;
            //   content: '';
            //   width: 100%;
            //   bottom: 0;
            //   left: 0;
            //   width: 100%;
            //   height: 0.1em;
            //   background-color: $black;
            //   transition: opacity 300ms, transform 300ms;
            // }
            
            &.essb_icon { display: none; }
          }

          // &:hover {
          //   span {
          //     &::after {
          //       transform: translate3d(0, 0.2em, 0);
          //     }
          //   }
          // }
        }
      }
    }

    article {
      .content {
        font-size: 1.25rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ul,
        ol,
        p { margin: 0 0 30px; }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: 1.87rem;
          font-weight: 900;
        }

        blockquote {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border-left: 4px solid $gray-fir;
          color: $gray-fir;
          margin: 0 0 30px;
          padding-left: 155px;

          p { margin: 0 auto; }
        }

        a { font-weight: 700; }
        
      }

      .full-image {
        transition: all 250ms linear;
        &.fix { transform: translateY(-310px); }
      }

      .projectAccordion {
        .blocks {
          .block {
            &:not(:first-child) {
              max-height: 0;
              transition: max-height 250ms ease-out;
              overflow: hidden;
  
              &.active {
                max-height: 500px;
                transition: max-height 250ms ease-in;
              }
            }
          }
        }
      }
    }
  }
/* ----------------------------------------- content */

/* acf map */
/* ----------------------------------------- */
  .acf-map {
    width: 100%;
    height: 240px;

    @media (min-width: 576px) {
      height: 1024px;
    }
  }
/* ----------------------------------------- acf map */

/* newsletter */
/* ----------------------------------------- */
  #js-news-content {
    transition: max-height 0.15s ease-out;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    height: 254px;

    &.active {
      max-height: 254px;
      transition: max-height 0.25s ease-in;
    }

    form {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      border-bottom: 2px solid $white;

      input {
        flex: 1;
        background-color: transparent;
        padding: 10px 10px 0 0;
        border: none;
        color: $white;
        font-size: 1.25rem;
        line-height: 140%;
        letter-spacing: -0.025rem;
        font-weight: 400;

        &::placeholder {
          color: $white;
        }
      }

      button {
        color: $white;
        font-size: 1.25rem;
        line-height: 140%;
        letter-spacing: -0.025rem;
        font-weight: 400;
      }

      .wpcf7-spinner {
        position: absolute;
      }

      .wpcf7-response-output {
        flex: 0 0 100%;
        max-width: 100%;
        border: none;
        background-color: $white;
        color: $black;
        margin: 30px 0;
        padding: 15px;
      }
    }
  }
/* ----------------------------------------- newsletter */

  .toggle-btns {
    svg {
      rect { transition: all 250ms ease-in-out; }
      &:hover,
      &.active { rect { fill: $black; } }
    }
  }

/* google maps dialog */
/* ----------------------------------------- */
  .gm-style .gm-style-iw-c {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    width: 166px;
    height: 166px;
  }
/* ----------------------------------------- google maps dialog */