@font-face {
	font-family: 'Akkurat LL';
	src: url('../fonts/AkkuratLL-Thin.woff2') format('woff2'),
			url('../fonts/AkkuratLL-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Akkurat LL';
	src: url('../fonts/AkkuratLL-ThinItalic.woff2') format('woff2'),
			url('../fonts/AkkuratLL-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Akkurat LL';
	src: url('../fonts/AkkuratLL-Light.woff2') format('woff2'),
			url('../fonts/AkkuratLL-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Akkurat LL';
	src: url('../fonts/AkkuratLL-LightItalic.woff2') format('woff2'),
			url('../fonts/AkkuratLL-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Akkurat LL';
	src: url('../fonts/AkkuratLL-Regular.woff2') format('woff2'),
			url('../fonts/AkkuratLL-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Akkurat LL';
	src: url('../fonts/AkkuratLL-Italic.woff2') format('woff2'),
			url('../fonts/AkkuratLL-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Akkurat LL';
	src: url('../fonts/AkkuratLL-Bold.woff2') format('woff2'),
			url('../fonts/AkkuratLL-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Akkurat LL';
	src: url('../fonts/AkkuratLL-BoldItalic.woff2') format('woff2'),
			url('../fonts/AkkuratLL-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Akkurat LL';
	src: url('../fonts/AkkuratLL-Black.woff2') format('woff2'),
			url('../fonts/AkkuratLL-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Akkurat LL';
	src: url('../fonts/AkkuratLL-BlackItalic.woff2') format('woff2'),
			url('../fonts/AkkuratLL-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
			url('../fonts/SFProDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('../fonts/SFProText-Regular.woff2') format('woff2'),
			url('../fonts/SFProText-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('../fonts/SFProText-Medium.woff2') format('woff2'),
			url('../fonts/SFProText-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('../fonts/SFProText-Semibold.woff2') format('woff2'),
			url('../fonts/SFProText-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}