body.login {
  background-color: theme-color("primary");
}
body.login h1 a {
  width: 200px !important;
  height: 50px !important;
  margin: 60px auto 5px;
}
body.login #loginform {
  background: rgb(255, 255, 255);
  border: none;
  box-shadow: none;
}
body.login #loginform label {
  color: black;
}
body.login #loginform #wp-submit {
  border: none;
  background: black !important;
  box-shadow: none;
  padding: 0 20px;
  text-shadow: none;
  text-transform: uppercase;
  border-radius: 0;
}
body.login #nav, body.login #backtoblog {
  color: #cccccc !important;
  text-align: center;
  padding-left: 0;
}
body.login #nav a, body.login #backtoblog a {
  color: #cccccc !important;
  text-decoration: none;
  text-shadow: none;
}
body.login #nav a:hover, body.login #backtoblog a:hover {
  color: #cccccc !important;
  text-decoration: underline;
}
body.login .button.button-primary {
  background-color: theme-color("primary");
}
